@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Inter:wght@100..900&display=swap');

body {
    background: #FEF9F5;
    font-family: "IBM Plex Sans Thai", sans-serif;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #D4C7B4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.navbar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 0 30px;
    
}

.navbar a:hover{
    color: #e8e8e8;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #D4C7B4;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar ul{
    list-style: none;
    color: white;
    width: 100%;
    
}

.sidebar li{
    padding-bottom: 20px;
    width: 100%;
}

.sidebar a{
    text-decoration: none;
    color: white;
   
}

.sidebar a:hover{
    color: #e8e8e8;
}

.sidebar i:hover{
    color: #e8e8e8;
}

.menu-button{
    display: none;
}


@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

/*เนื้อหา*/

.wrapper{
    width: 300px;
    margin: 130px auto 0;
    color: #B48954;
    font-size: 18px;
    
}

.wrapper p{
   text-align: center;
}

.select-btn, .options li{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.select-btn{
    height: 30px;
    font-size: 22px;
    display: flex;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 7px;
    background: #ffff;
    justify-content: flex-end;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    
}

.select-btn i{
    font-size: 20px;
    transform: transform 0.3s linear;
    
}

.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}

.content{
    display: none;
    padding: 23px;
    margin-top: 15px;
    border-radius: 7px;
    background: #ffff;
}

.wrapper.active .content{
    display: block;
}

.content .search{
    position: relative;
    
}

.search i{
    right: 15px;
    line-height: 25px;
    position: absolute;
    color: #B48954;
    top :5px;
    font-size: 15px;
}

.search input{
    height: 23px;
    width: 100%; 
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    margin: none;
    border: 1px solid #b3b3b3;
}

.content .options{
    padding: 0 13px;
    margin: 0;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.options::-webkit-scrollbar{
    width: 7px;
}

.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}

.options li{
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    
}

.options li:hover{
    background: #f2f2f2;
}

.input-number{
    display: flex;
    flex-direction: column;
    
}

.input-number input{
    font-size: 17px;
    border-radius: 7px;
    background: #ffff;
    border: none;
    height: 30px;
    color: #B48954;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

div .start-pray a{
    text-decoration: none;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 200px;
    color: #B48954;
}

li .fa-solid{
    padding-top: 10px;
    padding-left: 10px;
}

