@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Inter:wght@100..900&display=swap');

body {
    background: #FEF9F5;
    font-family: "IBM Plex Sans Thai", sans-serif;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #D4C7B4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.navbar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 0 30px;
    
}

.navbar a:hover{
    color: #e8e8e8;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #D4C7B4;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar ul{
    list-style: none;
    color: white;
    width: 100%;
}

.sidebar li{
    padding-bottom: 20px;
    width: 100%;
}

.sidebar a{
    text-decoration: none;
    color: white;
   
}

.sidebar a:hover{
    color: #e8e8e8;
}

.sidebar i:hover{
    color: #e8e8e8;
}

.menu-button{
    display: none;
}


@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

/*กลับสู่หน้าหลัก*/

.wrapper{
    width: 100%;
    margin: 80px auto 0;
    font-size: clamp(16px,2.5vw,18px);
    padding: 0;
}

.wrapper .back{
    display: flex;
    align-items: flex-start;
    
}

.back a{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #B48954;
}

.back ul{
    padding: 0 0 0 10px;
}

.back i{
    padding: 5px 10px 0 0px
}

.supportus{
    padding: 0;
    margin: 0;
    
}

section .support-payment{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #B48954;
}

.support-payment h2{
    font-size: clamp(18px,2.5vw,20px);
}

section img{
    width: 200px;
    object-fit: contain;
}

.support-payment button{
    margin-top: 20px;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    color: #B48954;
    background-color: white;
    font-family: "IBM Plex Sans Thai", sans-serif;
}

.support-payment p{
    font-size: clamp(10px,2.5vw,16px);
    color: #B48954;
    text-decoration: none;
}

.support-payment h3{
    font-size: clamp(16px,2.5vw,18px);
    padding: 0;
    margin: 0;
}

@media (max-width: 800px) {
    section img{
        width: 150px;
    }
}

